
        <div class="div">
<a href="/productos"><h1>Insert</h1></a>
<hr>
<form method="POST">
    <label for="id_pro">ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="id_pro" name="id_pro" placeholder="08COC">
    <br>
    <label for="nombre_p">Nombre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="nom_p" name="nom_p" placeholder="Goma">
    <br>
    <label for="cantidad">Cantidad:&nbsp;</label>
    <input type="text" id="cantidad" name="cantidad" placeholder="5">
    <br>
    <label for="fecha">Fecha: &nbsp;</label>
    <input type="text" id="fecha" name="fecha" placeholder="2019/02/01">
    <br>
    <label for="precio">Precio: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="precio" id="precio" name="precio" placeholder="15">
    <br><br>
    <center><button type="submit" class="btn btn-primary">Insert</button></center>
</form>